@{
    ViewBag.Title = "Twój wniosek został już złożony";
}

<h2>Twój wniosek został już złożony!</h2>

<p>Już złożyłeś wniosek o adopcję tego kota. Dziękujemy za zainteresowanie!</p>

<a href="@Url.Action("Index", "Cats")" class="btn btn-secondary">Powrót do listy kotów</a>