@model PurrfectMatch.Models.AdoptionRequest

@{
    ViewData["Title"] = "Zgłoszenie adopcji";
}

<h2>Zgłoszenie adopcji</h2>

<form asp-action="RequestAdoption" method="post">
    <input type="hidden" asp-for="CatId" />

    <div class="form-group">
        <label asp-for="HasOtherAnimals" class="form-label">Czy masz inne zwierzęta?</label>
        <select asp-for="HasOtherAnimals" class="form-control">
            <option value="true">Tak</option>
            <option value="false">Nie</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="HasChildren" class="form-label">Czy masz dzieci?</label>
        <select asp-for="HasChildren" class="form-control">
            <option value="true">Tak</option>
            <option value="false">Nie</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Housing" class="form-label">Czy masz odpowiednie warunki mieszkaniowe?</label>
        <select asp-for="Housing" class="form-control">
            <option value="true">Tak</option>
            <option value="false">Nie</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Zgłoś chęć adopcji</button>
</form>