@{
    ViewBag.Title = "Strona Główna";
}

<div class="container text-center">

    <h1 class="my-5">Witamy na stronie PurrfectMatch!</h1>

    <img src="~/images/Cute-Cat-icon.png" alt="Obrazek przedstawiający koty" class="img-fluid mb-4" />

    <p class="lead">
        PurrfectMatch to platforma, która umożliwia adopcję kotów. Znajdź swojego idealnego towarzysza wśród naszych uroczych kotków.
    </p>

    <p>
        Zarejestruj się, aby zgłosić chęć adopcji lub przeglądaj dostępne zwierzęta.
    </p>

    <h2 class="my-5 text-center">Założyciele</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card text-center">
                <img src="~/images/founder1.jpeg" alt="Założyciel 1" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Julia</h5>
                    <p class="card-text">Założyciel i pomysłodawca PurrfectMatch. Uwielbia koty i wspiera adopcję zwierząt.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card text-center">
                <img src="~/images/founder2.jpeg" alt="Założyciel 2" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Też Julia</h5>
                    <p class="card-text">Założycielka i specjalistka w zakresie opieki nad zwierzętami. Pasjonatka kotów.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card text-center">
                <img src="~/images/founder3.jpeg" alt="Założyciel 3" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">I tu też Julia</h5>
                    <p class="card-text">Pomaga w zarządzaniu platformą i koordynuje działania zespołu.</p>
                </div>
            </div>
        </div>
    </div>
</div>
